body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

button {
    padding: 16px;
    border-width: 0;
}

button:hover {
    background-color: gray;
    color: white;
}

@font-face {
    font-family: Calculator;
    src: url(Calculator.ttf);
}

.ui {
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 8px solid white;
    border-radius: 8px;
}

#history {
    font-family: Calculator;
    color: white;
}

#display {
    font-size: xx-large;
    border: 1px solid gray;
    font-family: Calculator;
    color: white;
}

.container {
    display: flex;
}

.container button {
    flex-grow: 1;
    background-color: red;
    font-weight: bolder;
    color: white;
}

.keys {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.keys button {
    flex: 1 0 25%;
}